<div id="address-details" [formGroup]="regForm">
  <div class="row" formGroupName="address">
    <div class="col-12">
      <input
        placeholder="Business Street Address"
        formControlName="businessStreetAddress"
      />
    </div>
  </div>
  <div class="row" formGroupName="address">
    <div class="col-6">
      <input placeholder="city" formControlName="city" />
    </div>
    <div class="col-6">
      <input placeholder="zip" formControlName="zip" />
    </div>
  </div>
  <button type="button" matStepperNext>Next</button>
</div>
