<!-- first row -->
<div>
  <h4>Policy Rules</h4>
  <div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        value="option1"
      />
      <label class="form-check-label" for="inlineCheckbox1"
        >Apply default Countywide Policy</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox2"
        value="option2"
      />
      <label class="form-check-label" for="inlineCheckbox2"
        >Department Policy Rule 0</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox3"
        value="option3"
      />
      <label class="form-check-label" for="inlineCheckbox3"
        >Department Policy Rule 1</label
      >
    </div>

  </div>
  <!-- Second row -->
  <div class="mt-2">
    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
        <label class="form-check-label" for="inlineCheckbox1"
          >Department Policy Rule 2</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox2"
          value="option2"
        />
        <label class="form-check-label" for="inlineCheckbox2"
          >Department Policy Rule 3</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox3"
          value="option3"
        />
        <label class="form-check-label" for="inlineCheckbox3"
          >Department Policy Rule 4</label
        >
      </div>

    </div>
    <!-- third row -->
  </div>
  <div class="mt-2">
    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
        <label class="form-check-label" for="inlineCheckbox1"
          >Social Networking Facebook</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox2"
          value="option2"
        />
        <label class="form-check-label" for="inlineCheckbox2"
          >Social Networking Twitter</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox3"
          value="option3"
        />
        <label class="form-check-label" for="inlineCheckbox3"
          >Social Networking LinkedIn</label
        >
      </div>

    </div>
  </div>
  <!-- NEW, UPDATE, DELETE PRIOR -->
  <div class="mt-2">
    <h4>Type of Registration</h4>
    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1">New</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2">Delete Prior</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="option3"
        />
        <label class="form-check-label" for="inlineRadio3">Update Prior</label>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-2" matStepperNext>
    Next
  </button>
  <!--  Descriptions -->
  <div class="mt-5">
    <h6>Policy Rules Descriptions:</h6>
    <p><small>Apply default Countywide Policy: block Pornography, Adult/Mature, Nudity, Intimate Apparel/Swimsuit, Games, Gambling, Personals/Dating, Social
Networking, Phishing, Spyware/Effect/Malware, Hacking, Proxy Avoidance and Remote Access Tools.<br>
Department Policy Rule 0: allow full access, no restrictions.<br>
Department Policy Rule 1: allow access to Pornography, Adult/Mature, Nudity, Intimate Apparel/Swimsuit, Games, Gambling, Personals/Dating,
Social Networking.<br>
Department Policy Rule 2: allow access to Phishing, Spyware/Effect/Malware, Hacking, Proxy Avoidance, Remote Access Tools.<br>
Department Policy Rule 3: Countywide Global Policy + add’l categories (chosen by your department).<br>
Department Policy Rule 4: Remove categories from the Global Policy (chosen by your department).<br>
Social Networking Facebook / Twitter / LinkedIn: allow access to Facebook, Twitter, and LinkedIn, respectively.<br>
<span style="color : red">Please Note: Policy Rules “0” through “4” and Social Networking Facebook, Twitter and LinkedIn are not setup by default. Your department must
have already submitted an approved “Category Selection Worksheet” before you can request to have rules “0” through “4” applied.</span></small></p>
  </div>
</div>
