<ng-template [ngIf]="stepCounter === 0">
  <!-- Page Content -->
  <div class="container" [@myAnimation]>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="jumbotron jumbotron-fluid mt-4">
          <div class="container">
            <h1 class="display-4">Office of Public Defender</h1>
            <p class="lead">This is a form application to fill out forms</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Form selection -->
    <div class="row">
      <div class="col-sm-6 pt-4">
        <h2>Employee</h2>
        <div class="m-2">
          <p>Start form</p>
          <button id="startFormBtn" class="form-button" (click)="nextStep()">
            Start form
          </button>
        </div>
      </div>
      <div class="col-sm-6 pt-4">
        <h2>Contractor</h2>
        <div class="m-2">
          <p>To view contractor form options, click the button below.</p>
          <button class="form-button">New Form</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="stepCounter === 1">
  <div class="center" [@myAnimation]>
    <div class="row">
      <h3>Are you an employee or contractor?</h3>
    </div>
    <div class="row">
      <button
        id="employeeBtn"
        class="mx-auto"
        (click)="selectEmployee(); nextStep()"
      >
        Employee
      </button>
    </div>
    <div class="row">
      <button
        id="contractorBtn"
        class="mx-auto"
        (click)="selectContractor(); nextStep()"
      >
        Contractor
      </button>
    </div>
    <div class="row">
      <button class="go-back-btn mx-auto" (click)="previousStep()">
        Go back
      </button>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="stepCounter === 2">
  <div class="center" [@myAnimation]>
    <div class="row">
      <h3>Would you like to continue a form or start a new one?</h3>
    </div>
    <div class="row">
      <button class="go-back-btn mx-auto" (click)="previousStep()">
        Go back
      </button>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="stepCounter === 3">
  <div class="center">
    <p>request number prompt works!</p>
    <button class="go-back-btn" (click)="previousStep()">Go back</button>
  </div>
</ng-template>
