<div style="text-align: center">
  <h1>Homepage</h1>
</div>
<div class="from-group col-md-12">
  <div>
    <button (click)="onClickEmployee()">Employee</button>
    <button (click)="onClickContractor()">Contractors/Vendors</button>
  </div>
  <!-- Employee Forms -->
  <ng-template [ngIf]="formUserType == FormUserType.EMPLOYEE">
    <form [formGroup]="formName">
      <div class="form-group">
        <div *ngFor="let application of employeeApplicationList; let i = index">
          <input
            name="formName"
            [id]="application"
            type="radio"
            formControlName="formName"
            [value]="application"
          />
          <label [for]="application">{{ application }}</label>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template [ngIf]="formUserType == FormUserType.CONTRACTOR">
    <div class="form-group">
      <div *ngFor="let application of vendorApplicationList; let j = index">
        <input type="radio" />
        <label for="">{{ application }}</label>
      </div>
    </div>
  </ng-template>
  <button (click)="goToForm()">Next</button>
  <button (click)="printValues()">Print</button>
</div>
