<!-- Employee Form -->
<form
  *ngIf="!hasSubmitted; else elseBlock"
  id="regForm"
  [formGroup]="form"
  [@myAnimation]
  class="container"
>
  <!-- Personal Information Step -->
  <mat-horizontal-stepper #stepper>
    <mat-step
      formGroupName="information"
      [stepControl]="form.get('information')"
    >
      <ng-template matStepLabel>Personal Information</ng-template>
      <!-- <app-information [regForm]="form" [@myAnimation]></app-information> -->
      <div>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Middle Initial</mat-label>
          <input type="text" matInput formControlName="middleInitial" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="emailAddress" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input type="text" matInput formControlName="phoneNumber" />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <!-- Address Step -->
    <mat-step
      formGroupName="information"
      [stepControl]="form.get('information')"
    >
      <ng-template matStepLabel>Address</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Street Address</mat-label>
          <input type="text" matInput formControlName="address" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input type="text" matInput formControlName="state" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Zip Code</mat-label>
          <input type="text" matInput formControlName="zipCode" />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <!-- Employee Information Step -->
    <mat-step
      formGroupName="employeeInformation"
      [stepControl]="form.get('employeeInformation')"
    >
      <ng-template matStepLabel>Employee Information</ng-template>
      <app-employee-information [regForm]="form"></app-employee-information>
    </mat-step>
    <!-- Requestor Information -->
    <mat-step>
      <ng-template matStepLabel>Access Information</ng-template>
      <app-access-information></app-access-information>
    </mat-step>
    <!-- Approvers -->
    <!-- <mat-step>
    <ng-template matStepLabel>Approvers</ng-template>
  </mat-step> -->
    <!-- Department -->
    <mat-step>
      <ng-template matStepLabel>Additional Information</ng-template>
      <app-additional-information></app-additional-information>
    </mat-step>
    <!-- Submit -->
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <app-submit-page
        [regForm]="form"
        [setSubmitResponse]="setSubmitResponse"
      ></app-submit-page>
    </mat-step>
  </mat-horizontal-stepper>
</form>

<!-- Submission confirmation page -->
<ng-template #elseBlock>
  <div class="container mb-4 mt-4">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Thanks! Submission Received</h4>
      <p>Please save the number provided below for future reference.</p>
      <hr />
      <p class="mb-0">
        This number will be used to check on the form's status.
      </p>
    </div>
    <hr />
    <!-- <h3 class="page-title">Submit Page</h3> -->
    <p>
      Here is your reference number:
      <span id="request-number" class="font-weight-bold">{{
        submitResponse.requestNumber
      }}</span>
    </p>
    <p>Please save this for future reference.</p>
  </div>
</ng-template>
