<!-- Employee Form -->
<form
  *ngIf="!hasSubmitted; else elseBlock"
  id="regForm"
  [formGroup]="form"
  [@myAnimation]
  class="container"
>
  <!-- Personal Information Step -->
  <mat-horizontal-stepper #stepper>
    <mat-step
      formGroupName="information"
      [stepControl]="form.get('information')"
    >
      <ng-template matStepLabel>Personal Information</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        Personal Information
      </h2>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>First Name</mat-label>
          <input
            id="firstNameInput"
            #firstNameInput
            type="text"
            matInput
            formControlName="firstName"
            [ngClass] = "{ 'is invalid': submitted && getMessage.firstName.errors}"
          />
          <div *ngIf = "submitted && getMessage.firstName.errors" class="invalid-entry">
            <div *ngIf = "f.firstName.errors.required">First Name is required</div>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Middle Initial</mat-label>
          <input
            id="middleInitialInput"
            type="text"
            matInput
            formControlName="middleInitial"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Last Name</mat-label>
          <input
            id="lastNameInput"
            type="text"
            matInput
            formControlName="lastName"
            [ngClass] = "{ 'is invalid': submitted && getMessage.lastName.errors}"
          />
          <div *ngIf = "submitted && getMessage.lastName.errors" class="invalid-entry">
            <div *ngIf = "f.lastName.errors.required">Last Name is required</div>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Email</mat-label>
          <input
            id="emailAddressInput"
            type="text"
            matInput
            formControlName="emailAddress"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Phone number</mat-label>
          <input
            id="phoneNumberInput"
            type="phone"
            matInput
            formControlName="phoneNumber"
          />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <!-- Address Step -->
    <mat-step
      formGroupName="information"
      [stepControl]="form.get('information')"
    >
      <ng-template matStepLabel>Address</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">Address</h2>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Street Address</mat-label>
          <input
            id="addressInput"
            type="text"
            matInput
            formControlName="address"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>City</mat-label>
          <input id="cityInput" type="text" matInput formControlName="city" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>State</mat-label>
          <input id="stateInput" type="text" matInput formControlName="state" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Zip Code</mat-label>
          <input
            id="zipCodeInput"
            type="text"
            matInput
            formControlName="zipCode"
          />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
      </div>
    </mat-step>
    <!-- Employee Information Step -->
    <mat-step
      formGroupName="employeeInformation"
      [stepControl]="form.get('employeeInformation')"
    >
      <ng-template matStepLabel>Employee Information</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        Employee Information
      </h2>
      <div>
        <mat-form-field appearance="outline" style="width: 70%">
          <mat-label>Employee Number</mat-label>
          <input
            id="employeeNumberInput"
            type="text"
            matInput
            formControlName="employeeNumber"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 70%">
          <mat-label>Hosted ID</mat-label>
          <input
            id="hostedIdInput"
            type="text"
            matInput
            formControlName="hostedId"
          />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
      </div>
    </mat-step>
    <!-- Access Information -->
    <mat-step>
      <ng-template matStepLabel>Access Information</ng-template>
      <app-access-information></app-access-information>
    </mat-step>
    <!-- Approvers -->
    <!-- <mat-step>
    <ng-template matStepLabel>Approvers</ng-template>
  </mat-step> -->
    <!-- Department -->
    <mat-step>
      <ng-template matStepLabel>Additional Information</ng-template>
      <app-additional-information></app-additional-information>
    </mat-step>
    <!-- Submit -->
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <app-submit-page
        [regForm]="form"
        [setSubmitResponse]="setSubmitResponse"
      ></app-submit-page>
    </mat-step>
  </mat-horizontal-stepper>
</form>

<!-- Submission confirmation page -->
<ng-template #elseBlock>
  <div class="container mb-4 mt-4">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Thanks! Submission Received</h4>
      <p>Please save the number provided below for future reference.</p>
      <hr />
      <p class="mb-0">
        This number will be used to check on the form's status.
      </p>
    </div>
    <hr />
    <!-- <h3 class="page-title">Submit Page</h3> -->
    <p>
      Here is your reference number:
      <span id="request-number" class="font-weight-bold">{{
        submitResponse.requestNumber
      }}</span>
    </p>
    <p>Please save this for future reference.</p>
  </div>
</ng-template>
