<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <main role="main">
      <div id="container">
        <div id="search">
          <form [formGroup]="uuid" (ngSubmit)="onSubmit()">
            <div class="input-group" id="seachGroup">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Search</span>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="uuidField"
                style="width: 4px"
              />
              <button
                class="btn btn-outline-secondary"
                (click)="showTable()"
                type="submit"
              >
                Enter
              </button>
            </div>
          </form>
          <div class="tableStyle">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">uuid</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                </tr>
              </thead>
              <ng-container *ngIf="hideTable">
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>{{ id1 }}</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>{{ randomU }}</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>{{ randomU }}</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr>
                </tbody>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
