.mat-input-width {
    width: 30%;
    
  }
.mat-input-approver {
  width: 30%;
  margin-right: 30px;
}
.tab {
  margin-top: 40px;
}
.card {
  min-width: 100%;
}

.save {
  margin-right: 2%;
}

.button-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

.spacer {
    flex: 1 1 auto;
}


.mat-input-width {
  width: 60%;
}

mat-tab-label {
  padding-bottom: 10%;
}