<app-employee-form [formGroup] = "approval">

</app-employee-form>

<!-- Includes the approval FormGroup for employeers for admin  -->
<div style="width: 85%">  
  <h2 class="mat-display-1">Approvals</h2>
  <h3 class="mat-title">Select the following approvals</h3>
  <div class="flex-container">
    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
      <form [formGroup]="approval">
        <mat-accordion class="example-headers-align" [multi] = "true">

          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Manager
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="manager">
            
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>name </mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Phone</mat-label>
                <input matInput  formControlName="phone">
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Email</mat-label>
                <input matInput  formControlName="email">
              </mat-form-field>
            </div>
          </mat-expansion-panel>


          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Department Head
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="departmentHead">
            
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Name </mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Phone</mat-label>
                <input matInput  formControlName="phone">
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Email</mat-label>
                <input matInput  formControlName="email">
              </mat-form-field>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application Coordinator
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="applicationCoord">
            
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Name </mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Phone</mat-label>
                <input matInput  formControlName="phone">
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Email</mat-label>
                <input matInput  formControlName="email">
              </mat-form-field>
            </div>
          </mat-expansion-panel>


          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Division Chief
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="divisionChief">
          
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Manger Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Phone</mat-label>
                <input matInput  formControlName="phone">
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Email</mat-label>
                <input matInput  formControlName="email">
              </mat-form-field>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Department Info Security
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="deptInfoSecurity">
            
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Department Infor Secuirty </mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Phone</mat-label>
                <input matInput  formControlName="phone">
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-input-width">
                <mat-label>Email</mat-label>
                <input matInput  formControlName="email">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <button mat-button (click)="print()">Print</button>
  </div>
</div>