<div id="department-details" [formGroup]="regForm">
  <div class="row mb-4" formGroupName="department">
    <div class="col-4">
      <label for="departmentEmailAddressInput">Department Email Address</label>
      <input
        id="departmentEmailAddressInput"
        placeholder="Department Email Address"
        formControlName="departmentEmailAddress"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mb-4" formGroupName="department">
    <div class="col-4">
      <label for="departmentNameInput">Department Name</label>
      <input
        id="departmentNameInput"
        placeholder="Department Name"
        formControlName="departmentName"
        class="form-control"
      />
    </div>
  </div>
  <button type="button" class="btn btn-lg btn-primary" matStepperNext>
    Next
  </button>
</div>
