
<form
  id="regForm"
  [formGroup]="adminForm"
  [@myAnimation]
  class="container"

>
  <mat-horizontal-stepper #stepper>
    <!-- Contractor Step -->
    <mat-step
      formGroupName="contractorInformation"
      [stepControl]="adminForm.get('contractorInformation')"
    >
      <ng-template matStepLabel>Contractor</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        Contractor Information
      </h2>
      <h2>{{requestNumber}}</h2>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>First Name</mat-label>
          <input
            id="firstNameInput"
            type="text"
            matInput
            formControlName="firstName"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>First name is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Last Name</mat-label>
          <input
            id="lastNameInput"
            type="text"
            matInput
            formControlName="lastName"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Last name is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Middle Initial</mat-label>
          <input
            id="middleInitialInput"
            type="text"
            matInput
            formControlName="middleInitial"
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error>Middle initial must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Company Name</mat-label>
          <input
            id="companyNameInput"
            type="text"
            matInput
            formControlName="companyName"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error
            >Company name is required and must be letters only</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Company Email Address</mat-label>
          <input
            id="companyEmailAddressInput"
            type="text"
            matInput
            formControlName="companyEmailAddress"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error
            >Company email is required with correct email format</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Company Street Address</mat-label>
          <input
            id="companyStreetAddressInput"
            type="text"
            matInput
            formControlName="companyStreetAddress"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Company street address is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>City</mat-label>
          <input
            id="cityInput"
            type="text"
            matInput
            formControlName="city"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>City is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>State</mat-label>
          <input
            id="stateInput"
            type="text"
            matInput
            formControlName="state"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>State is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Zip Code</mat-label>
          <input
            id="zipCodeInput"
            type="text"
            matInput
            formControlName="zipCode"
            required
            pattern="[0-9]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error
            >Zipcode is required and must be numbers only with length
            5-7</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Phone number</mat-label>
          <input
            id="phoneNumberInput"
            type="phone"
            matInput
            formControlName="phoneNumber"
            required
            pattern="[0-9]{10}"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error
            >Company phone number is required and must be 10 digit</mat-error
          >
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Cancel</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
      </div>

      <!--<app-contractor-information [regForm]="formContractor"></app-contractor-information>-->
    </mat-step>

    <!-- County Step -->
    <mat-step
      formGroupName="countyInformation"
      [stepControl]="adminForm.get('countyInformation')"
    >
      <ng-template matStepLabel>County</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        County Information
      </h2>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Contract Work Order No</mat-label>
          <input
            id="contractWorkOrderNumberInput"
            type="text"
            matInput
            formControlName="contractWorkOrderNumber"
            required
            pattern="[0-9]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error
            >Contract work order number is required and digits only</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Contract Expiration Date</mat-label>
          <input
            id="contactExpirationDateInput"
            type="date"
            min="2021-03-03"
            matInput
            placeholder="Choose a Date"
            formControlName="contractExpirationDate"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error>Contract expiration date is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>LA County Email Address</mat-label>
          <input
            id="countyEmailAddressInput"
            type="text"
            matInput
            formControlName="countyEmailAddress"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error
            >Company email is required with correct email format</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Phone number</mat-label>
          <input
            id="phoneNumberInput"
            type="phone"
            matInput
            formControlName="phoneNumber"
            required
            pattern="[0-9]{10}"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error
            >Company phone number is required and must be 10 digit</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Department Name</mat-label>
          <input
            id="departmentNameInput"
            type="text"
            matInput
            formControlName="departmentName"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error
            >Department name is required and must be letters only</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Department number</mat-label>
          <input
            id="departmentNumberInput"
            type="text"
            matInput
            formControlName="departmentNumber"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error>Department number is required and digits only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Business Street Address</mat-label>
          <input
            id="businessStreetAddressInput"
            type="text"
            matInput
            formControlName="businessStreetAddress"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Business street address is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>City</mat-label>
          <input
            id="businessCityInput"
            type="text"
            matInput
            formControlName="businessCity"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Business street address is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Zip Code</mat-label>
          <input
            id="businessZipCodeInput"
            type="text"
            matInput
            formControlName="businessZipCode"
            required
            pattern="[0-9]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error
            >Zipcode is required and must be numbers only with length
            5-7</mat-error
          >
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
      </div>
      <!-- <app-county-information [regForm]="formContractor"></app-county-information> -->
    </mat-step>

    <!-- Polity Rules Step-->
    <mat-step
      formGroupName="policyRulesInformation"
      [stepControl]="adminForm.get('policyRulesInformation')"
    >
      <ng-template matStepLabel>Registration</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        Registration Information
      </h2>
      <!-- Information -->
      <div>
        <br />
        <h6>Policy Rules Descriptions:</h6>
        <p>
          <small
            >Apply default Countywide Policy: block Pornography, Adult/Mature,
            Nudity, Intimate Apparel/Swimsuit, Games, Gambling,
            Personals/Dating, Social Networking, Phishing,
            Spyware/Effect/Malware, Hacking, Proxy Avoidance and Remote Access
            Tools.<br />
            Department Policy Rule 0: Allow full access, no restrictions.<br />
            Department Policy Rule 1: Allow access to Pornography, Adult/Mature,
            Nudity, Intimate Apparel/Swimsuit, Games, Gambling,
            Personals/Dating, Social Networking.<br />
            Department Policy Rule 2: Allow access to Phishing,
            Spyware/Effect/Malware, Hacking, Proxy Avoidance, Remote Access
            Tools.<br />
            Department Policy Rule 3: Countywide Global Policy + add’l
            categories (chosen by your department).<br />
            Department Policy Rule 4: Remove categories from the Global Policy
            (chosen by your department).<br />
            Social Networking Facebook / Twitter / LinkedIn: Allow access to
            Facebook, Twitter, and LinkedIn, respectively.<br />
            <br />
            <span style="color: red"
              >Please Note: Policy Rules “0” through “4” and Social Networking
              Facebook, Twitter and LinkedIn are not setup by default. Your
              department must have already submitted an approved “Category
              Selection Worksheet” before you can request to have rules “0”
              through “4” applied.</span
            ></small
          >
        </p>
      </div>

      <!-- First Row -->
      <div>
        <div class="form-check form-check-inline">
          <mat-checkbox
            class="form-check-input"
            id="applyDefaultCountyWidePolicyIsCheckedInput"
            fromControlName="applyDefaultCountyWidePolicyIsChecked"
            >Appply Default Countywide Policy</mat-checkbox
          >
        </div>
        <div class="form-check form-check-inline">
          <mat-checkbox
            class="form-check-input"
            id="departmentPolicyRule0IsCheckedInput"
            fromControlName="departmentPolicyRule0IsChecked"
            >Department Policy Rule 0</mat-checkbox
          >
        </div>
        <div class="form-check form-check-inline">
          <mat-checkbox
            class="form-check-input"
            id="departmentPolicyRule1IsCheckedInput"
            fromControlName="departmentPolicyRule1IsChecked"
          >
            Department Policy Rule 1
          </mat-checkbox>
        </div>
      </div>

      <!-- Second row -->
      <div class="mt-2">
        <div>
          <div class="form-check form-check-inline">
            <mat-checkbox
              class="form-check-input"
              id="departmentPolicyRule2IsCheckedInput"
              fromControlName="departmentPolicyRule2IsChecked"
              >Department Policy Rule 2</mat-checkbox
            >
          </div>
          <div class="form-check form-check-inline">
            <mat-checkbox
              class="form-check-input"
              id="departmentPolicyRule3IsCheckedInput"
              fromControlName="departmentPolicyRule3IsChecked"
              >Department Policy Rule 3</mat-checkbox
            >
          </div>
          <div class="form-check form-check-inline">
            <mat-checkbox
              class="form-check-input"
              id="departmentPolicyRule4IsCheckedInput"
              fromControlName="departmentPolicyRule4IsChecked"
              >Department Policy Rule 4</mat-checkbox
            >
          </div>
        </div>
      </div>

      <!-- Third Row -->
      <div class="mt-2">
        <div>
          <div class="form-check form-check-inline">
            <mat-checkbox
              class="form-check-input"
              id="socialNetworkingFacebookIsCheckedInput"
              fromControlName="socialNetworkingFacebookIsChecked"
              >Social Networking Facebook</mat-checkbox
            >
          </div>
          <div class="form-check form-check-inline">
            <mat-checkbox
              class="form-check-input"
              id="socialNetworkingTwitterIsCheckedInput"
              fromControlName="socialNetworkingTwitterIsChecked"
              >Social Networking Twitter</mat-checkbox
            >
          </div>
          <div class="form-check form-check-inline">
            <mat-checkbox
              class="form-check-input"
              id="socialNetworkingLinkedInIsCheckedInput"
              fromControlName="socialNetworkingLinkedInIsChecked"
              >Social Networking LinkedIn</mat-checkbox
            >
          </div>
        </div>
      </div>

      <!-- NEW, UPDATE, DELETE PRIOR -->

      <div class="mt-2">
        <h4>Type of Registration</h4>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="typeRegister"
              id="typeOfRegistrationInput"
              value="new"
              fromControlName="typeOfRegistration"
            />
            <label class="form-check-label" for="inlineRadio1">New</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="typeRegister"
              id="typeOfRegistrationInput"
              value="delete"
              fromControlName="typeOfRegistration"
            />
            <label class="form-check-label" for="inlineRadio2"
              >Delete Prior</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="typeRegister"
              id="typeOfRegistrationInput"
              value="update"
              fromControlName="typeOfRegistration"
            />
            <label class="form-check-label" for="inlineRadio3"
              >Update Prior</label
            >
          </div>
        </div>
        <br />
      </div>

      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
      </div>

      <!-- <app-policy-rules></app-policy-rules> -->
    </mat-step>

    <!-- Authorized Signature section -->


    <!-- SUBMIT SECTION -->
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <div class="container contact-form">
        <h3>You're Almost Done!</h3>
        <p class="instruction">
          Please confirm the information below. If there is any mistake, click
          on the heading to go back and make changes. Click Submit once done!
        </p>

        <!-- Contractor Information -->
        <div class="row">
          <div class="col">
            <h4>
              <button class="btnSub" mat-raised-button color="accent">
                Contractor
              </button>
            </h4>

            <div>
              <h6>First Name</h6>
              <div class="sub-group">
                <p>
                  {{
                    adminForm.value.contractorInformation.firstName ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Middle Initial</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation.middleInitial ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Last Name</h6>
              <div class="sub-group">
                <p>
                  {{
                    adminForm.value.contractorInformation.lastName || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Company Name</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation.companyName ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Company Email</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation
                      .companyEmailAddress || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Company Street Address</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation
                      .companyStreetAddress || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>City</h6>
              <div class="subgroup">
                <p>
                  {{ adminForm.value.contractorInformation.city || "N/A" }}
                </p>
              </div>
            </div>

            <div>
              <h6>State</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation.state || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Zipcode</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation.zipCode || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Phone Number</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.contractorInformation.phoneNumber ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>
          </div>

          <!-- County Information -->
          <div class="col">
            <h4>
              <button class="btnSub" mat-raised-button color="accent">
                County
              </button>
            </h4>

            <div>
              <h6>Contract Work Order No</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation
                      .contractWorkOrderNumber || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Contract Expiration Date</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation
                      .contractExpirationDate || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>County Email Address</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation.countyEmailAddress ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Phone Number</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation.phoneNumber || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Department Name</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation.departmentName ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Department Number</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation.departmentNumber ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Business Street Address</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation
                      .businessStreetAddress || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Business City</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation.businessCity || "N/A"
                  }}
                </p>
              </div>
            </div>

            <div>
              <h6>Business Zipcode</h6>
              <div class="subgroup">
                <p>
                  {{
                    adminForm.value.countyInformation.businessZipCode ||
                      "N/A"
                  }}
                </p>
              </div>
            </div>
          </div>

          <!-- Policy Rules Information -->
          <div class="col">
            <h4>
              <button class="btnSub" mat-raised-button color="accent">
                Policy Rules
              </button>
            </h4>

            <div>
              <h6>Selected Policies</h6>
              <div class="subgroup">
                <div>Default County Wide Policy</div>
              </div>
            </div>

            <div>
              <h6>Selected Social Networking</h6>
              <div class="subgroup">
                <p class="font-weight-light"></p>
              </div>
            </div>

            <div>
              <h6>Type Of Registration</h6>
              <div class="subgroup">
                <p class="font-weight-light"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Access Information -->

        <!-- Additional Information -->

        <div class="text-center">
          <button class="btnContact" >Submit</button>
        </div>
      </div>

      <!--<app-submit [regForm]="formContractor"></app-submit>-->
    </mat-step>
  </mat-horizontal-stepper>
</form>
