<div id="registration" class="conatiner col-md-12" [ngSwitch]="formName">
  <!-- Employee Form -->
  <form
    id="regForm"
    [formGroup]="registrationForm"
    *ngSwitchCase="FormUserType.EMPLOYEE"
  >
    <!-- Information Step -->
    <mat-horizontal-stepper #stepper>
      <mat-step
        formGroupName="information"
        [stepControl]="registrationForm.get('information')"
      >
        <ng-template matStepLabel>Information</ng-template>
        <app-information [regForm]="registrationForm"></app-information>
      </mat-step>
      <!-- Employee Information Step -->
      <mat-step
        formGroupName="employeeInformation"
        [stepControl]="registrationForm.get('employeeInformation')"
      >
        <ng-template matStepLabel>Employee Information</ng-template>
        <app-employee-information
          [regForm]="registrationForm"
        ></app-employee-information>
      </mat-step>
      <!-- Requestor Information -->
      <mat-step>
        <ng-template matStepLabel>Access Information</ng-template>
        <app-access-information></app-access-information>
      </mat-step>
      <!-- Approvers -->
      <!-- <mat-step>
        <ng-template matStepLabel>Approvers</ng-template>
      </mat-step> -->
      <!-- Department -->
      <mat-step>
        <ng-template matStepLabel>Additional Information</ng-template>
        <app-additional-information></app-additional-information>
      </mat-step>
      <!-- Submit -->
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <app-submit-page [regForm]="registrationForm"></app-submit-page>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <!-- Contractor Form -->
  <!-- <form id="regForm" [formGroup]="" *ngSwitchCase="FormUserType.CONTRACTOR">
    <p>Contractor</p>
  </form> -->
  <!-- Default case -->
  <div *ngSwitchDefault>
    <h1>Form Not Yet Built</h1>
  </div>
</div>
