<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">PD Form App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            id="navbarDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >New Form</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/form?formName=EMPLOYEE"
              >Employee Form</a
            >
            <a class="dropdown-item" href="/form?formName=CONTRACTOR"
              >Contractor Form</a
            >
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/request-status">Request Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="registration" class="conatiner col-md-12" [ngSwitch]="formName">
  <!-- Employee Form -->
  <form
    id="regForm"
    [formGroup]="registrationForm"
    *ngSwitchCase="FormUserType.EMPLOYEE"
  >
    <!-- Information Step -->
    <mat-horizontal-stepper #stepper>
      <mat-step
        formGroupName="information"
        [stepControl]="registrationForm.get('information')"
      >
        <ng-template matStepLabel>Information</ng-template>
        <app-information [regForm]="registrationForm"></app-information>
      </mat-step>
      <!-- Employee Information Step -->
      <mat-step
        formGroupName="employeeInformation"
        [stepControl]="registrationForm.get('employeeInformation')"
      >
        <ng-template matStepLabel>Employee Information</ng-template>
        <app-employee-information
          [regForm]="registrationForm"
        ></app-employee-information>
      </mat-step>
      <!-- Requestor Information -->
      <mat-step>
        <ng-template matStepLabel>Access Information</ng-template>
        <app-access-information></app-access-information>
      </mat-step>
      <!-- Approvers -->
      <!-- <mat-step>
        <ng-template matStepLabel>Approvers</ng-template>
      </mat-step> -->
      <!-- Department -->
      <mat-step>
        <ng-template matStepLabel>Additional Information</ng-template>
        <app-additional-information></app-additional-information>
      </mat-step>
      <!-- Submit -->
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <app-submit-page [regForm]="registrationForm"></app-submit-page>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <!-- Contractor Form -->
  <!-- <form id="regForm" [formGroup]="" *ngSwitchCase="FormUserType.CONTRACTOR">
    <p>Contractor</p>
  </form> -->
  <!-- Default case -->
  <div *ngSwitchDefault>
    <h1>Form Not Yet Built</h1>
  </div>
</div>
