<div style="text-align: center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div id="registration" class="conatiner col-md-12" [ngSwitch]="formName">
  <!-- ISD Active Directory Hosted Registration Forms Permanent Employees -->
  <form
    id="regForm"
    [formGroup]="registrationForm"
    *ngSwitchCase="
      FormType.ISD_ACTIVE_DIRECTORY_HOSTED_REGISTRATION_FORMS_PERMANENT_EMPLOYEES
    "
  >
    <mat-horizontal-stepper #stepper>
      <mat-step
        formGroupName="name"
        [stepControl]="registrationForm.get('name')"
      >
        <ng-template matStepLabel>Name</ng-template>
        <app-step1 [regForm]="registrationForm"></app-step1>
      </mat-step>
      <mat-step
        formGroupName="department"
        [stepControl]="registrationForm.get('department')"
      >
        <ng-template matStepLabel>Department</ng-template>
        <app-step2 [regForm]="registrationForm"></app-step2>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Address</ng-template>
        <app-step3 [regForm]="registrationForm"></app-step3>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Email</ng-template>
        <app-step4 [regForm]="registrationForm"></app-step4>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <app-step5 [regForm]="registrationForm"></app-step5>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <!-- Employee Form -->
  <form id="regForm" [formGroup]="registrationForm" *ngSwitchCase="'EMPLOYEE'">
    <mat-horizontal-stepper #stepper>
      <mat-step
        formGroupName="information"
        [stepControl]="registrationForm.get('information')"
      >
        <ng-template matStepLabel>Information</ng-template>
        <app-information [regForm]="registrationForm"></app-information>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <!-- Default case -->
  <div *ngSwitchDefault>
    <h1>Form Not Yet Built</h1>
  </div>
</div>
