<!-- TODO: Work on naming and values -->
<div>
  <h1 class="mat-headline">Select Access Options</h1>
  <div>
    <!-- TODO: Add styling,flexbox -->
    <section>
      <mat-checkbox [(ngModel)]="renderIBMForm"
        >IBM Data Center Access</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="renderUnixEnvAccess"
        >Unix Environement Access</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="renderSecurIdAccess"
        >SecurID Remote Access</mat-checkbox
      >
    </section>
  </div>
  <!-- Options -->
  <!-- The forms will render here -->
  <div class="accessInformationForms">
    <div *ngIf="renderIBMForm === true" class="ibmForm">
      <h2 class="mat-title">IBM Access Information</h2>
      <div>
        <!-- TODO: Add a heading here -->
        <mat-form-field>
          <mat-label>Logon ID</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>2-Digit Major Group Code</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>2-Digit LSO Group Code</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Security Authorization</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="renderUnixEnvAccess === true" class="unix-access-form">
      <h2 class="mat-title">Unix Access</h2>
      <div>
        <mat-form-field>
          <mat-label>Login ID</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Application</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

    </div>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </div>
</div>
