<!-- TODO: Work on naming and values -->
<div>
  <h1 class="mat-headline">Select Access Options</h1>
  <div>
    <!-- TODO: Add styling,flexbox -->
    <section>
      <mat-checkbox [(ngModel)]="renderIBMForm"
        >IBM Data Center Access</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="renderUnixEnvAccess"
        >Unix Environement Access</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="renderSecurIdAccess"
        >SecurID Remote Access</mat-checkbox
      >
    </section>
  </div>
  <!-- Options -->
  <!-- The forms will render here -->
  <div class="accessInformationForms">
    <div *ngIf="renderIBMForm === true" class="ibmForm">
      <h2 class="mat-title">IBM Access Information</h2>
      <div>
        <!-- TODO: Add a heading here -->
        <mat-form-field>
          <mat-label>Logon ID</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>2-Digit Major Group Code</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>2-Digit LSO Group Code</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Security Authorization</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="renderUnixEnvAccess === true" class="unix-access-form">
      <!-- TODO: Needs the Type of Request section -->
      <h2 class="mat-title">Unix Access</h2>
      <div>
        <mat-form-field>
          <mat-label>Login ID</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Application</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Access Group</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Account Number</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="renderSecurIdAccess === true" class="secur-id-access-form">
      <h2 class="mat-title">SecurID Access</h2>
      <div>
        <mat-form-field>
          <mat-label>Billing Account Number</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Access Type</mat-label>
          <select matNativeControl required>
            <option value="SecurID VPN">SecurID VPN</option>
            <option value="Adapative Authentication VPN">
              Adapative Authentication VPN
            </option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="button-container">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button matStepperNext color="primary" class="ml-2">
        Next
      </button>
      <span class="spacer"></span>
      <button mat-raised-button class="save-button" color="accent">Save</button>
    </div>
  </div>
</div>
