<div id="name-details" [formGroup]="regForm">
  <div class="row mb-4" formGroupName="information">
    <!-- First Name -->
    <div class="col-sm-3">
      <label for="firstNameInput">First Name</label>
      <input
        id="firstNameInput"
        placeholder="Enter first name"
        formControlName="firstName"
        class="form-control"
      />
    </div>
    <div class="col-sm-3">
      <label for="middleInitialInput">Middle Initial</label>
      <input
        id="middleInitialInput"
        class="form-control"
        placeholder="Enter middle initial"
        formControlName="middleInitial"
      />
    </div>
    <div class="col-sm-3">
      <label for="lastNameInput">Last Name</label>
      <input
        id="lastNameInput"
        placeholder="Enter last name"
        formControlName="lastName"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mb-4" formGroupName="information">
    <div class="col-sm-3">
      <label for="emailInput">Email Address</label>
      <input
        id="emailInput"
        placeholder="Enter email"
        class="form-control"
        formControlName="emailAddress"
      />
    </div>
    <div class="col-sm-3">
      <label for="phoneNumberInput">Phone Number</label>
      <input
        id="phoneNumberInput"
        placeholder="Enter phone number"
        class="form-control"
        formControlName="phoneNumber"
      />
    </div>
  </div>
  <!-- Address -->
  <div class="row mb-4" formGroupName="information">
    <div class="col-sm-3">
      <label for="addressInput">Address</label>
      <input
        id="addressInput"
        placeholder="Enter address"
        class="form-control"
        formControlName="address"
      />
    </div>
    <div class="col-sm-3">
      <label for="phoneNumberInput">City</label>
      <input
        id="cityInput"
        placeholder="Enter city"
        class="form-control"
        formControlName="city"
      />
    </div>
    <div class="col-sm-3">
      <label for="stateInput">State</label>
      <input
        id="stateInput"
        placeholder="Enter state"
        class="form-control"
        formControlName="state"
      />
    </div>
  </div>
  <div class="row mb-4" formGroupName="information">
    <div class="col-sm-3">
      <label for="zipInput">Zip Code</label>
      <input
        id="zipInput"
        placeholder="Enter zip"
        class="form-control"
        formControlName="zipCode"
      />
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-2" matStepperNext>
    Next
  </button>
</div>
