<div>
  <div class="row mb-4">
    <div class="col-sm-3">
      <label for="firstNameInput">Employee Number</label>
      <input
        id="firstNameInput"
        placeholder="Enter first name"
        formControlName="firstName"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-3">
      <label for="firstNameInput">Hosted ID</label>
      <input
        id="firstNameInput"
        placeholder="Enter first name"
        formControlName="firstName"
        class="form-control"
      />
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-2" matStepperNext>Next</button>
</div>
