.mat-tab-group {
    margin-bottom: 48px;
  }

 .card {
     align-items: center;

 } 

 .caption {
     text-align: center;
 }

 .mat-input-width {
    width: 60%;
 }

 p {
    text-align: center;
 }