<!-- the div will only be shown if the user 
is on the parent component (admin) itself, 
but not if the user is on a child component(ex: service-request, reset-password). -->

  <div *ngIf="route.children.length === 0">
    <app-admin-login-header></app-admin-login-header>

    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card fxFlex="50">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <mat-card-title color="primary">Welcome to PD</mat-card-title>
        <div class="error-message position-fixed" *ngIf = "alert" class="alert alert-danger" role="alert">
          <mat-error >
            {{errorMessage}}
          </mat-error>
  
        </div>
            <mat-card-content>
              <form [formGroup]='formLogin' fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field appearance="outline"> 
                  <mat-label>password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password" />
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="adminLogin()" >Login</button>
                </mat-card-actions>
              </form>
            </mat-card-content>  
      </mat-card>
    </div>
  </div>

  <!-- 
<div *ngIf="isHomeRoute()">
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50">
      <mat-toolbar color="primary">Login</mat-toolbar>
      <mat-card-title color="primary">Welcome to PD</mat-card-title>
      <div class="error-message position-fixed" *ngIf = "alert" class="alert alert-danger" role="alert">
        <mat-error >
          {{errorMessage}}
        </mat-error>

      </div>
          <mat-card-content>
            <form [formGroup]='formLogin' fxLayoutAlign="stretch" fxLayout="column" class="login-form">
              <mat-form-field appearance="outline"> 
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="adminLogin()" >Login</button>
              </mat-card-actions>
            </form>
          </mat-card-content>  
    </mat-card>
  </div>
</div> 
-->
  <!--
  <mat-error *ngIf = "alert">Hello</mat-error>
  <div *ngIf = "alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  </div>
    <div class="container">
        <div class="row">
            <h2 class="mx-auto mt-2">Login</h2>

        </div>
        <div class="row">
            <mat-form-field
            class="full-width mx-auto mt-2"
            floatLabel="never"
            appearance="outline">
            <mat-label>Admin password</mat-label>
            <input id="adminPasswordInput" type="password" matInput placeholder="password" 
            [(ngModel)] = "adminPassword"
            class="mx-auto"
            />
            </mat-form-field>
        </div>

        <div class="row">
            <button 
            id="retrieveAdminPassword"
            mat-button
            color="primary"
            class="mx-auto mt-2"
            (click)= "adminLogin();">
            Login
            </button>
        </div>
    </div>
</div>
-->
<router-outlet></router-outlet>




