<div style="width: 85%">
  <h2 class="mat-display-1">Applications Requested</h2>
  <h5 class="mat-caption">Description goes here</h5>
  <div class="flex-container">
    <div class="flex-column">
      <mat-button-toggle
        [checked]="internetAccess"
        (change)="internetAccess = $event.source.checked"
        >Internet Access
      </mat-button-toggle>
    </div>
    <div class="flex-column">
      <mat-button-toggle>Email Account</mat-button-toggle>
    </div>
    <div class="flex-column">
      <mat-button-toggle>Email Encryption</mat-button-toggle>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-column">
      <mat-button-toggle>LACounty.gov Access</mat-button-toggle>
    </div>
    <div class="flex-column">
      <mat-button-toggle>Tokenless Authentication</mat-button-toggle>
    </div>
    <div class="flex-column">
      <mat-button-toggle>LACMobile</mat-button-toggle>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-column">
      <mat-button-toggle>Cherwell SMS</mat-button-toggle>
    </div>
    <div class="flex-column" style="justify-content: left">
      <mat-button-toggle>Window Rights Management</mat-button-toggle>
    </div>
    <!-- This is a spacer to help align items properly -->
    <div class="flex-column"></div>
  </div>
  <!-- <button (click)="sampleFunction()">Test</button> -->
  <div class="button-container">
    <button mat-raised-button matStepperPrevious>Previous</button>
    <button
      mat-raised-button
      matStepperNext
      color="primary"
      class="ml-2"
      (click)="printForm()"
    >
      Next
    </button>
    <span class="spacer"></span>
    <button
      id="access-info-save-btn"
      mat-raised-button
      class="save-button"
      color="accent"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
