<div style="width: 85%">
  <h2 class="mat-display-1">Applications Requested</h2>
  <h5 class="mat-caption">Description goes here</h5>
  <div class="flex-container">
    <div class="flex-column">
      <mat-button-toggle
        [checked]="internetAccess"
        (change)="internetAccess = $event.source.checked"
        >Internet Access
      </mat-button-toggle>
    </div>
    <div class="flex-column">
      <mat-button-toggle
        [checked]="emailAccount"
        (change)="emailAccount = $event.source.checked"
        >Email Account</mat-button-toggle
      >
    </div>
    <div class="flex-column">
      <mat-button-toggle
        [checked]="emailEncryption"
        (change)="emailEncryption = $event.source.checked"
        >Email Encryption</mat-button-toggle
      >
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-column">
      <mat-button-toggle
        [checked]="laCountyAccess"
        (change)="laCountyAccess = $event.source.checked"
        >LACounty.gov Access</mat-button-toggle
      >
    </div>
    <div class="flex-column">
      <mat-button-toggle
        [checked]="tokenlessAuth"
        (change)="tokenlessAuth = $event.source.checked"
        >Tokenless Authentication</mat-button-toggle
      >
    </div>
    <div class="flex-column">
      <mat-button-toggle
        [checked]="lacMobile"
        (change)="lacMobile = $event.source.checked"
        >LACMobile</mat-button-toggle
      >
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-column">
      <mat-button-toggle
        [checked]="cherwellSMS"
        (change)="cherwellSMS = $event.source.checked"
        >Cherwell SMS</mat-button-toggle
      >
    </div>
    <div class="flex-column" style="justify-content: left">
      <mat-button-toggle
        [checked]="windowsManagement"
        (change)="windowsManagement = $event.source.checked"
        >Window Rights Management</mat-button-toggle
      >
    </div>
    <!-- This is a spacer to help align items properly -->
    <div class="flex-column"></div>
  </div>
  <!-- <button (click)="sampleFunction()">Test</button> -->
  <div class="button-container">
    <button mat-raised-button matStepperPrevious>Previous</button>
    <button
      mat-raised-button
      matStepperNext
      color="primary"
      class="ml-2"
      (click)="printForm()"
    >
      Next
    </button>
    <span class="spacer"></span>
    <button
      id="access-info-save-btn"
      mat-raised-button
      class="save-button"
      color="accent"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
