.flex-container {
  display: flex;
}

.flex-column {
  flex: 1;
  justify-content: center;
  align-items: center;
}

div.flex-container {
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.spacer {
  flex: 1 1 auto;
}

.access-option-button {
  width: 235px;
}
