<div id="name-details" [formGroup]="regForm">
  <div class="row mb-4" formGroupName="name">
    <div class="col-4">
      <label for="firstNameInput">First name</label>
      <input
        id="firstNameInput"
        placeholder="First Name"
        formControlName="firstName"
        class="form-control"
      />
    </div>
    <div class="col-4">
      <label for="middleInitialInput">Middle Initial</label>
      <input
        placeholder="Middle Initial"
        formControlName="middleInitial"
        class="form-control"
      />
    </div>
    <div class="col-4">
      <label for="lastNameInput">Last Name</label>
      <input
        placeholder="Last Name"
        formControlName="lastName"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mb-4" formGroupName="name">
    <div class="col-6">
      <label for="countyEmployeeNumberInput">County Employee Number</label>
      <input
        id="countyEmployeeNumberInput"
        placeholder="County Employee Number"
        formControlName="countyEmployeeNumber"
        class="form-control"
      />
    </div>
    <div class="col-6">
      <label for="hostedIdInput">Hosted Id</label>
      <input
        id="hostedIdInput"
        placeholder="Hosted Id"
        formControlName="hostedId"
        class="form-control"
      />
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg" matStepperNext>
    Next
  </button>
</div>
