<div id="personal-details" [formGroup]="regForm">
  <div class="row" formGroupName="name">
    <div class="col-4">
      <input placeholder="First Name" formControlName="firstName" />
    </div>
    <div class="col-4">
      <input placeholder="Middle Initial" formControlName="middleInitial" />
    </div>
    <div class="col-4">
      <input placeholder="Last Name" formControlName="lastName" />
    </div>
  </div>
  <div class="row" formGroupName="name">
    <div class="col-6">
      <input
        placeholder="County Employee Number"
        formControlName="countyEmployeeNumber"
      />
    </div>
    <div class="col-6">
      <input placeholder="Hosted Id" formControlName="hostedId" />
    </div>
  </div>
  <button type="button" matStepperNext>Next</button>
</div>
