<div *ngIf="regForm" [formGroup]="regForm">
  <div formGroupName="employeeInformation">
    <!-- Employee Number -->
    <div class="row mb-4">
      <div class="col-sm-3">
        <label for="employeeNumberInput">Employee Number</label>
        <input
          id="employeeNumberInput"
          placeholder="Employee number"
          formControlName="employeeNumber"
          class="form-control"
        />
      </div>
    </div>
    <!-- Hosted ID -->
    <div class="row mb-4">
      <div class="col-sm-3">
        <label for="hostedIdInput">Hosted ID</label>
        <input
          id="hostedIdInput"
          placeholder="Enter Hosted ID"
          formControlName="hostedId"
          class="form-control"
        />
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-2" matStepperNext>
      Next
    </button>
  </div>
</div>
