<div id="personal-details" [formGroup]="regForm">
  <div class="from-group col-md-4" formGroupName="applicationName">
    <div>
      <button (click)="onClickEmployee()">Employee</button>
      <button>Contractor</button>
    </div>
    <!-- Employee Forms -->
    <ng-template [ngIf]="formType == 'EMPLOYEE'">
      <div class="form-group">
        <div *ngFor="let application of employeeApplicationList; let i = index">
          <input type="checkbox" />
          <label for="">{{ application }}</label>
        </div>
      </div>
    </ng-template>
  </div>
  <br />
  <button type="button" (click)="printValues()">Print Values</button>
  <button type="button" matStepperNext>Next</button>
</div>
