<div class="container contact-form">
  <h3>You're Almost Done!</h3>
  <p class="instruction">
    Please confirm the information below. If there is any mistake, click on the
    heading to go back and make changes. Click Submit once done!
  </p>

  <!-- Information -->
  <div class="row">
    <div class="col">
      <h4>
        <button
          class="btnSub"
          mat-raised-button
          color="accent"
          (click)="moveIndex(0)"
        >
          Personal
        </button>
      </h4>

      <div>
        <h6>First Name</h6>
        <div class="sub-group">
          <p>
            {{ regForm.value.personalInformation.firstName || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Middle Initial</h6>
        <div class="sub-group">
          <p>
            {{ regForm.value.personalInformation.middleInitial || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Last Name</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.lastName || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Email Address</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.emailAddress || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Phone Number</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.phoneNumber || "N/A" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Address Information -->
    <div class="col">
      <h4>
        <button
          class="btnSub"
          mat-raised-button
          color="accent"
          (click)="moveIndex(1)"
        >
          Address
        </button>
      </h4>

      <div>
        <h6>Street</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.address || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>City</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.city || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>State</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.state || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Zip Code</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.zipCode || "N/A" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Employee Information -->
    <div class="col">
      <h4>
        <button
          class="btnSub"
          mat-raised-button
          color="accent"
          (click)="moveIndex(2)"
        >
          Employee
        </button>
      </h4>

      <div>
        <h6>Employee Number</h6>
        <div class="subgroup">
          <p class="font-weight-light">
            {{ regForm.value.employeeInformation.employeeNumber || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Hosted ID</h6>
        <div class="subgroup">
          <p class="font-weight-light">
            {{ regForm.value.employeeInformation.hostedId || "N/A" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Access Information -->

    <div class="col">
      <h4>
        <button
          class="btnSub"
          mat-raised-button
          color="accent"
          (click)="moveIndex(3)"
        >
          Access
        </button>
      </h4>

      <div>
        <h6>Access Options:</h6>
        <div class="smallerText" *ngIf="regForm.value.accessInformation.renderIBMForm">
          <input type="checkbox" disabled checked>
          <label>IBM</label>
        </div>

        <div class="smallerText" *ngIf="regForm.value.accessInformation.renderUnixEnvAccess">
          <input type="checkbox" disabled checked>
          <label>Unix Environment</label>
        </div>

        <div class="smallerText" *ngIf="regForm.value.accessInformation.renderSecurIdAccess">
          <input type="checkbox" disabled checked>
          <label>SecurID Remote</label>
        </div>
      </div>

      <!-- IBM info -->
      <!-- <div *ngIf="regForm.value.accessInformation.renderIBMForm"> -->
      <div *ngIf="regForm.value.accessInformation.renderIBMForm">
        <h6>IBM Info</h6>
        <div class="subgroup">
          <p>
            Logon ID: 
          </p>
          <p>
            {{ regForm.value.accessInformation.ibmLogonId || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderIBMForm">
        <h6>2-Digit Major Group Code</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.majorGroupCode || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderIBMForm">
        <h6>2-Digit LSO Group Code</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.lsoGroupCode || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderIBMForm">
        <h6>Security Authorization</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.securityAuthorization || "N/A" }}
          </p>
        </div>
      </div>
      <!-- </div> -->

      <!-- Unix info -->
      <!-- <div *ngIf="regForm.value.accessInformation.renderUnixEnvAccess === true> " -->
      <div *ngIf="regForm.value.accessInformation.renderUnixEnvAccess">
        <h6>Login ID</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.unixLogonId || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderUnixEnvAccess">
        <h6>Application</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.application || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderUnixEnvAccess">
        <h6>Access Group</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.accessGroup || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderUnixEnvAccess">
        <h6>Account Number</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.accountNumber || "N/A" }}
          </p>
        </div>
      </div>
      <!-- </div> -->

      <!-- SecurID Access info -->
      <!-- <div *ngIf="regForm.value.accessInformation.renderSecurIdAccess === true> " -->
      <div *ngIf="regForm.value.accessInformation.renderSecurIdAccess"> 
        <h6>Billing Account Number</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.billingAccountNumber || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="regForm.value.accessInformation.renderSecurIdAccess">
        <h6>Access Type</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.accessInformation.accessType || "N/A" }}
          </p>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <!-- Additional Information -->

    <div class="col">
      <h4>
        <button
          class="btnSub"
          mat-raised-button
          color="accent"
          (click)="moveIndex(4)"
        >
          Additional
        </button>
      </h4>

      <!-- Application requested info -->
      <div>
        <h6>Applications Requested</h6>
        <div class="subgroup">
          <div class="smallerText" *ngIf="regForm.value.additionalInformation.internetApplication">
            <input type="checkbox" disabled checked>
            <label>Internet Access</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.exchangeEmail">
            <input type="checkbox" disabled checked>
            <label>Email Account</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.emailEncryption">
            <input type="checkbox" disabled checked>
            <label>Email Encryption</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.laCountyGovAccess">
            <input type="checkbox" disabled checked>
            <label>LA County Gov Access</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.tokenlessAuthentication">
            <input type="checkbox" disabled checked>
            <label>Tokenless Authentication</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.lacMobileWifiAccess">
            <input type="checkbox" disabled checked>
            <label>LACMobile</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.cherwellSms">
            <input type="checkbox" disabled checked>
            <label>Cherwell Sms</label>
          </div>

          <div class="smallerText" *ngIf="regForm.value.additionalInformation.windowsRightsMgmt">
            <input type="checkbox" disabled checked>
            <label>Window Rights Management</label>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="text-center">
    <button class="btnContact" (click)="onClick()">Submit</button>
  </div>
  <div class="text-center">
    <button class="btnContact" (click)="onSubmitMarkNotCompleted()">
      Submit (But do not mark as completed)
    </button>
  </div>
</div>
