<ng-container *ngIf="showChoices; else referenceNumberPrompt">
  <div class="center">
    <div class="row">
      <h1 class="page-title">What would you like to do?</h1>
    </div>
    <div class="row">
      <button class="mx-auto mb-2" (click)="toggleShowChoices()">
        Continue form
      </button>
    </div>
    <div class="row">
      <button class="mx-auto mb-2">Create new form</button>
    </div>
    <div class="row">
      <button
        class="cancel-button mx-auto mb-2"
        (click)="toggleMakingChoices()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-container>

<ng-template #referenceNumberPrompt>
  <div class="center" [@myAnimation]>
    <div class="row">
      <h3 class="page-title mx-auto">Enter request number</h3>
    </div>
    <div class="row">
      <input class="referenceNumberPrompt mx-auto form-control" placeholder="eg. 123456" />
    </div>
    <div class="row">
      <button class="mx-auto mt-2">Cancel</button>
    </div>
  </div>
</ng-template>
