.button {
    align-items: center;
    justify-content: center;
    display: flex;
}

.reset-form {
    text-align: center;
    justify-content: center;

}
.error-message {

    text-align: center;
    justify-content: center;
    min-height: 0px;
    min-width: 0px;
}

.container {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

mat-card-header {
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}