<app-admin-header></app-admin-header>
 
<div class="container">

    <form [formGroup]='resetForm' fxLayoutAlign="stretch" fxLayout="column" class="reset-form">
        <div class="error-message">
            <div *ngIf= "isSucess" class="alert alert-success" role="alert">
               {{message}}
            </div>
            <div *ngIf= "isAlert" class="alert alert-danger" role="alert">
                {{message}}
             </div>
        </div>
        <div class="row">
            <mat-card-header>
                <mat-card-title>Change Password</mat-card-title>
            </mat-card-header>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Current password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="password" formControlName="oldPassword"/>
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="password" formControlName="newPassword"/>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="row" class="button">
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="updatePassword()" [disabled]="!resetForm.valid">Submit</button>
            </mat-card-actions>
        </div>
    </form>
</div>

